<form name="listForm" model-state="error" ng-submit="saveItem(listForm)">
  <div class="modal-header page-header">
    <h3 class="modal-title" style="float: left;">{{list.name || 'New list'}}</h3>
  </div>
  <div class="modal-body">
    <loading ng-model="loading"></loading>
    <input type="text" name="name" required class="form-control" ng-model="list.name" />

    <div class="form-group">
      <label>Profiles</label>
      <input ng-repeat="profile in list.profiles" type="text" name="profiles" disabled class="form-control" ng-model="profileMap[profile]._key">

      <select ng-model="selected">
        <option ng-repeat="profile in profiles" value="{{profile._key}}">{{profile.name}}</option>
      </select>
      <span>
        <div class="btn btn-primary" ng-click="selecte(selected)">Add profile</div>
      </span>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="!listForm.$valid" >
      Save
    </button>
    <button class="btn btn-secondary" type="button" ng-click="$close()">Close</button>
  </div>
</form>